# Ignorar archivos de entorno virtual
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Carpetas de build y cache
build/
dist/
*.egg-info/

# Archivos temporales o de log
*.log
*.tmp

# Entorno virtual raíz
Lib/
Scripts/
pyvenv.cfg
venv/
env/
ENV/

# Archivos generados por PyInstaller
*.spec

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos y carpetas de IDEs
.vscode/
.idea/
*.swp
